@model IEnumerable<DiagnosticCenter.Models.Employee>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Category
        </th>
        <th>
            Specialty
        </th>
        <th>
            Position
        </th>
        <th>
            Rate
        </th>
        <th>
            ID_Dept
        </th>
        <th>
            ID_Cabinet
        </th>
        <th>
            AtWork
        </th>
        <th>
            ID_User
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Dept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Cabinet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AtWork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_User)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Employee }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Employee }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Employee })
        </td>
    </tr>
}

</table>
