@model DiagnosticCenter.Models.EmployeeVM

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Пошук працівників</legend>

        <div class="editor-label">
            @Html.Label("Ім'я:")
        
            <input type = "text" name = "FirstName"/>
           
        </div>

        <div class="editor-label">
            @Html.Label("Прізвище:")
        
            <input type = "text" name="Surname"/>
          
        </div>

        <div class="editor-label">
            @Html.Label("Категорія:")
       
            <input type="text" name="Category" />
            
        </div>

        <div class="editor-label">
            @Html.Label("Спеціальність:")
            <input type="text" name="Specialty" />
           
        </div>

        <div class="editor-label">
            @Html.Label("Посада:")
            <select name = "position">
                <option value = "">Виберіть посаду</option>
                <option value = "зав. відділом">Зав. відділом</option>
                <option value = "головний лікар">Головний лікар</option>
                <option value = "лікар">Лікар</option>
                <option value = "головна медсестра">Головна медсестра</option>
                <option value = "медсестра">Медсестра</option>
                <option value = "реєстратура">Працівник реєстратури</option>
             </select>
        </div>
               

        <div class="editor-label">
            @Html.Label("Відділення:")
            @Html.DropDownList("Depts","Виберіть відділення")
          
        </div>

        <div class="editor-label">
            @Html.Label("Кабінет:")
            @Html.DropDownList("Cabinets","Виберіть кабінет")
       
            
        </div>
        <p>
            <input type="submit" value="Знайти" />
        </p>
    </fieldset>
}