@model IEnumerable<DiagnosticCenter.Models.Examination>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Status
        </th>
        <th>
            Protocol
        </th>
        <th>
            Conclusion
        </th>
        <th>
            Recommendation
        </th>
        <th>
            Consultation
        </th>
        <th>
            StartTime
        </th>
        <th>
            Employee
        </th>
        <th>
            Patient
        </th>
        <th>
            ID_ExmType
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Protocol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conclusion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recommendation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consultation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_ExmType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Examination }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Examination }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Examination })
        </td>
    </tr>
}

</table>
