@model List<DiagnosticCenter.Models.EmployeeVM>

<table>
    <tr>
        <th>
            Прізвище
        </th>
        <th>
            Ім'я
        </th>
        <th>
            По батькові
        </th>
    </tr>
@foreach(var item in Model){   
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.surname)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.patronymic)
        </td>
    </tr>
    <tr>    
        <td colspan="3">
            <br />
            <b>Відділення:</b>
            @Html.DisplayFor(modelItem => item.department)<br />
             <b>Кабінет:</b>
            @Html.DisplayFor(modelItem => item.cabinet)<br />
             <b> Посада:</b>
            @Html.DisplayFor(modelItem => item.position)<br />
             <b> Категорія:</b>
            @Html.DisplayFor(modelItem => item.category)<br />
            <b> Спеціальність:</b>
            @Html.DisplayFor(modelItem => item.specialty)<br />
            <b> Ставка:</b>
            @Html.DisplayFor(modelItem => item.rate) год. в день.
        </td>
    </tr>
}
</table>