@if (Request.IsAuthenticated)
{
    <ul id="adminmenu">
       
        @if (User.IsInRole("Administrator"))
        {
            <li id="menu-settings" class="first-item @((ViewBag.Controller == "Settings") ? "current" : "") menu-top menu-icon-settings">
                <div class="menu-image">
                    @Html.ActionLink(" ", "Settings", "Admin")
                </div>
                <div class="menu-arrow">
                    <div>
                    </div>
                </div>
                <div class="menu-toggle" style="display: none;">
                    <br />
                </div>
                @Html.ActionLink("Налаштування", "Settings", "Admin", null, new { @class = "first-item menu-top menu-icon-settings" + ((ViewBag.Controller == "Settings") ? " current" : "") })
            </li>
        }
        
        @{
            bool newsExp = User.IsInRole("Administrator") || User.IsInRole("DepartmentChiefDoctor") || User.IsInRole("HeadDoctor");
            string newsClass = "";
            if (newsExp)
            {
                newsClass = (ViewBag.Controller == "News") ? "has-current-submenu" : "has-submenu";
            }
            else
            {
                newsClass = (ViewBag.Controller == "News") ? "current" : "";
            }   
        }
          
            <li id="menu-news" class="menu-top @(newsClass) menu-icon-news menu-open">
                <div class="menu-image">
                    @Html.ActionLink(" ", "Index", "News")
                </div>
                <div class="menu-arrow">
                    <div>
                    </div>
                </div>
                <div class="menu-toggle" style="@((newsExp) ? "" : "display: none;")">
                    <br />
                </div>
                @Html.ActionLink("Новини", "Index", "News", null, new { @class = "menu-top menu-icon-news menu-open" + ((newsClass != "") ? (" " + newsClass) : "")})
                @if (newsExp) 
                {
                    <div class="submenu">
                        <div class="submenu-wrap">
                            <div class="submenu-head">
                                Новини</div>
                            <ul>
                                <li class="first-item@((ViewBag.Action == "News.Index") ? " current" : "")">@Html.ActionLink("Всі новини", "Index", "News", null, ((ViewBag.Action == "News.Index") ? new { @class = "current" } : null))</li>
                                <li class="@((ViewBag.Action == "News.Create") ? "current" : "")">@Html.ActionLink("Створити новину", "Create", "News", null, ((ViewBag.Action == "News.Create") ? new { @class = "current" } : null))</li>
                            </ul>
                        </div>
                    </div>
                }
            </li> 

        @{
            bool depsExp = User.IsInRole("Administrator");
            string depsClass = "";
            if (depsExp)
            {
                depsClass = (ViewBag.Controller == "Departments") ? "has-current-submenu" : "has-submenu";
            }
            else
            {
                depsClass = (ViewBag.Controller == "Departments") ? "current" : "";
            }   
        }

        
            <li id="menu-deps" class="menu-top @(depsClass) menu-icon-deps menu-open">
                <div class="menu-image">
                    @Html.ActionLink(" ", "Index", "Departments")
                </div>
                <div class="menu-arrow">
                    <div>
                    </div>
                </div>
                <div class="menu-toggle" style="@((depsExp) ? "" : "display: none;")">
                    <br />
                </div>
                @Html.ActionLink("Відділення", "Index", "Departments", null, new { @class = "menu-top menu-icon-deps menu-open" + ((depsClass != "") ? (" " + depsClass) : "") })
                @if (depsExp)
                {
                    <div class="submenu">
                        <div class="submenu-wrap">
                            <div class="submenu-head">
                                Відділення</div>
                            <ul>
                                <li class="first-item@((ViewBag.Action == "Departments.Index") ? " current" : "")">@Html.ActionLink("Всі відділення", "Index", "Departments", null, ((ViewBag.Action == "Departments.Index") ? new { @class = "current" } : null))</li>
                                <li class="@((ViewBag.Action == "Departments.Create") ? "current" : "")">@Html.ActionLink("Створити відділення", "Create", "Departments", null, ((ViewBag.Action == "Departments.Create") ? new { @class = "current" } : null))</li>
                            </ul>
                        </div>
                    </div>
                }
            </li>  
    
        @{
            bool cabinetsExp = User.IsInRole("Administrator");
            string cabinetsClass = "";
            if (cabinetsExp)
            {
                cabinetsClass = (ViewBag.Controller == "Cabinets") ? "has-current-submenu" : "has-submenu";
            }
            else
            {
                cabinetsClass = (ViewBag.Controller == "Cabinets") ? "current" : "";
            }   
        }        
            <li id="menu-cabinets" class="menu-top @(cabinetsClass) menu-icon-cabinets menu-open">
                <div class="menu-image">
                    @Html.ActionLink(" ", "Index", "Cabinets")
                </div>
                <div class="menu-arrow">
                    <div>
                    </div>
                </div>
                <div class="menu-toggle" style="@((cabinetsExp) ? "" : "display: none;")">
                    <br />
                </div>
                @Html.ActionLink("Кабінети", "Index", "Cabinets", null, new { @class = "menu-top menu-icon-cabinets menu-open" + ((cabinetsClass != "") ? (" " + cabinetsClass) : "") })
                @if (cabinetsExp)
                {
                    <div class="submenu">
                        <div class="submenu-wrap">
                            <div class="submenu-head">
                                Кабінети</div>
                            <ul>
                                <li class="first-item@((ViewBag.Action == "Cabinets.Index") ? " current" : "")">@Html.ActionLink("Всі кабінети", "Index", "Cabinets", null, ((ViewBag.Action == "Cabinets.Index") ? new { @class = "current" } : null))</li>
                                <li class="@((ViewBag.Action == "Cabinets.Create") ? "current" : "")">@Html.ActionLink("Створити кабінет", "Create", "Cabinets", null, ((ViewBag.Action == "Cabinets.Create") ? new { @class = "current" } : null))</li>
                            </ul>
                        </div>
                    </div>
                }
            </li>
        
            <li id="menu-empl" class="has-submenu @((ViewBag.Controller == "Employees") ? "has-current-submenu" : "") menu-top menu-icon-empl menu-open">
                <div class="menu-image">
                    @Html.ActionLink(" ", "Index", "Employees")
                </div>
                <div class="menu-arrow">
                    <div>
                    </div>
                </div>
                <div class="menu-toggle">
                    <br />
                </div>
                @Html.ActionLink("Працівники", "Index", "Employees", null, new { @class = "has-submenu menu-top menu-icon-empl menu-open" + ((ViewBag.Controller == "Employees") ? " has-current-submenu" : "") })
                <div class="submenu">
                    <div class="submenu-wrap">
                        <div class="submenu-head">
                            Працівники</div>
                        <ul>
                            <li class="first-item@((ViewBag.Action == "Employees.Index") ? " current" : "")">@Html.ActionLink("Всі працівники", "Index", "Employees", null, ((ViewBag.Action == "Employees.Index") ? new { @class = "current" } : null))</li>
                            <li class="@((ViewBag.Action == "Employees.Search") ? "current" : "")">@Html.ActionLink("Пошук працівника", "Search", "Employees", null, ((ViewBag.Action == "Employees.Search") ? new { @class = "current" } : null))</li>
                        @if (User.IsInRole("Administrator"))
                        { 
                            <li class="@((ViewBag.Action == "Employees.Create") ? "current" : "")">@Html.ActionLink("Додати працівника", "Create", "Employees", null, ((ViewBag.Action == "Employees.Create") ? new { @class = "current" } : null))</li>
                        }
                        </ul>
                    </div>
                </div>
            </li>      

        @if (!(User.IsInRole("Nurse") || User.IsInRole("HeadNurse")))
        {
            <li id="menu-patients" class="has-submenu @((ViewBag.Controller == "Patients") ? "has-current-submenu" : "") menu-open menu-top menu-top-first menu-icon-patient">
                <div class="menu-image">
                    @Html.ActionLink(" ", "Index", "Patients")
                </div>
                <div class="menu-arrow">
                    <div>
                    </div>
                </div>
                <div class="menu-toggle">
                    <br />
                </div>
                @Html.ActionLink("Пацієнти", "Index", "Patients", null, new { @class = "has-submenu menu-open menu-top menu-top-first menu-icon-patient" + ((ViewBag.Controller == "Patients") ? " has-current-submenu" : "") })
                <div class="submenu">
                    <div class="submenu-wrap">
                        <div class="submenu-head">
                            Пацієнти</div>
                        <ul>
                            <li class="first-item@((ViewBag.Action == "Patients.Index") ? " current" : "")">@Html.ActionLink("Всі пацієнти", "Index", "Patients", null, ((ViewBag.Action == "Patients.Index") ? new { @class = "current" } : null))</li>
                            <li class="@((ViewBag.Action == "Patients.Search") ? "current" : "")">@Html.ActionLink("Пошук пацієнта", "Search", "Patients", null, ((ViewBag.Action == "Patients.Search") ? new { @class = "current" } : null))</li>
                        @if (User.IsInRole("MedicalRegistrar"))
                        {
                            <li class="@((ViewBag.Action == "Patients.Create") ? "current" : "")">@Html.ActionLink("Додати пацієнта", "Create", "Patients", null, ((ViewBag.Action == "Patients.Create") ? new { @class = "current" } : null))</li>
                        }
                        </ul>
                    </div>
                </div>
            </li>
        } 
        
        @if (User.IsInRole("Administrator") || User.IsInRole("DepartmentChiefDoctor") || User.IsInRole("HeadDoctor") || User.IsInRole("Doctor"))
        {
            <li id="menu-examtemplates" class="has-submenu @((ViewBag.Controller == "ExaminationTemplates") ? "has-current-submenu" : "") menu-open menu-top menu-icon-extemplates">
                <div class="menu-image">
                    @Html.ActionLink(" ", "Index", "ExaminationTemplates")
                </div>
                <div class="menu-arrow">
                    <div>
                    </div>
                </div>
                <div class="menu-toggle">
                    <br />
                </div>
                @Html.ActionLink("Шаблони обстежень", "Index", "ExaminationTemplates", null, new { @class = "has-submenu menu-open menu-top menu-top-first menu-icon-extemplates" + ((ViewBag.Controller == "ExaminationTemplates") ? " has-current-submenu" : "") })
                <div class="submenu">
                    <div class="submenu-wrap">
                        <div class="submenu-head">
                            Шаблони обстежень</div>
                        <ul>
                            <li class="first-item@((ViewBag.Action == "ExaminationTemplates.Index") ? " current" : "")">@Html.ActionLink("Всі шаблони", "Index", "ExaminationTemplates", null, ((ViewBag.Action == "ExaminationTemplates.Index") ? new { @class = "current" } : null))</li>                           
                            <li class="@((ViewBag.Action == "ExaminationTemplates.Create") ? "current" : "")">@Html.ActionLink("Створити шаблон", "Create", "ExaminationTemplates", null, ((ViewBag.Action == "ExaminationTemplates.Create") ? new { @class = "current" } : null))</li>
                        </ul>
                    </div>
                </div>
            </li>
        } 
        
        @{
    bool planExp = User.IsInRole("HeadNurse");
            string planClass = "";
            if (planExp)
            {
                planClass = (ViewBag.Controller == "Plan") ? "has-current-submenu" : "has-submenu";
            }
            else
            {
                planClass = (ViewBag.Controller == "Plan") ? "current" : "";
            }   
        }              
      
        <li id="menu-plan" class="menu-top @(planClass) menu-icon-plan menu-open">
            <div class="menu-image">
                @Html.ActionLink(" ", "Index", "Plan")
            </div>
            <div class="menu-arrow">
                <div>
                </div>
            </div>
            <div class="menu-toggle" style="@((planExp) ? "" : "display: none;")">
                <br />
            </div>
            @Html.ActionLink("Графік роботи", "Index", "Plan", null, new { @class = "menu-top menu-icon-plan menu-open" + ((planClass != "") ? (" " + planClass) : "")})
        @if (User.IsInRole("HeadNurse"))
        {
            <div class="submenu">
                <div class="submenu-wrap">
                    <div class="submenu-head">
                        Графік роботи</div>
                    <ul>
                        <li class="first-item@((ViewBag.Action == "Plan.Index") ? " current" : "")">@Html.ActionLink("Графік", "Index", "Plan", null, ((ViewBag.Action == "Plan.Index") ? new { @class = "current" } : null))</li>                           
                        <li class="@((ViewBag.Action == "Plan.Edit") ? "current" : "")">@Html.ActionLink("Редагувати", "Edit", "Plan", null, ((ViewBag.Action == "Plan.Edit") ? new { @class = "current" } : null))</li>
                    </ul>
                </div>
            </div>
        }
        </li>
        
        
        
        <li id="collapse-menu" class="hide-if-no-js">
            <div id="collapse-button">
                <div>
                </div>
            </div>
            <span>Згорнути меню</span> 
        </li>
    </ul>

}