@model DiagnosticCenter.Models.EmployeeVM
<div id = "left_content">
<table align="center">
    <tr>
        <th>
            @EmployeesRes.EmployeesStrings.Surname
        </th>
        <th>
           @EmployeesRes.EmployeesStrings.Name
        </th>
        <th>
            @EmployeesRes.EmployeesStrings.Patronymic
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(item => item.surname)
        </td>
         <td>
            @Html.DisplayFor(item => item.firstName)
        </td>
         <td>
            @Html.DisplayFor(item => item.patronymic)
        </td>
    </tr>
    <tr>    
        <td colspan="3">
            <br />
            <b>@EmployeesRes.EmployeesStrings.Department</b>
            @Html.DisplayFor(item => item.department)<br />
             <b>@EmployeesRes.EmployeesStrings.Cabinet</b>
            @Html.DisplayFor(item => item.cabinet)<br />
             <b> @EmployeesRes.EmployeesStrings.Position</b>
            @Html.DisplayFor(item => item.position)<br />
             <b> @EmployeesRes.EmployeesStrings.Category</b>
            @Html.DisplayFor(item => item.category)<br />
            <b> @EmployeesRes.EmployeesStrings.Specialty</b>
            @Html.DisplayFor(item => item.specialty)<br />
            <b> @EmployeesRes.EmployeesStrings.Rate</b>
            @Html.DisplayFor(item => item.rate) @EmployeesRes.EmployeesStrings.HoursPerDay
        </td>
    </tr>
</table>
<br />
</div>
<p>
@Html.ActionLink("Переглянути статистику", "StatPage") 
</p>
