@model IEnumerable<DiagnosticCenter.Models.Examination>

@{
    ViewBag.Title = "Index";

    DiagnosticCenter.Models.Patient patient = ViewBag.Patient;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = patient.ID_Patient })
</p>
<table>
    <tr>
        <th>
            Examination Type
        </th>
        <th>
            Time
        </th>    
        <th>
            Status
        </th>
        <th>
            Employee
        </th>               
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExaminationType.Name)
        </td>               
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>            
            @if (item.Status == 0)
            {
                @ExaminationRes.ExaminationStrings.StatInProgress                
            }
            else
            {
                @ExaminationRes.ExaminationStrings.StatComplete
            }
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Surname)
            @Html.DisplayFor(modelItem => item.Employee.FirstName)
            @Html.DisplayFor(modelItem => item.Employee.Patronymic)
        </td>        
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_Examination }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID_Examination }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID_Examination })
        </td>
    </tr>
}

</table>
