@model DiagnosticCenter.Models.Department

@{
    ViewBag.Title = DepartmentsRes.DepartmentsStrings.Creating;
    ViewBag.Controller = "Departments";
    ViewBag.Action = "Departments.Create";
}

<div id="icon-deps-general" class="icon32"><br /></div><h2>@DepartmentsRes.DepartmentsStrings.Creating</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@DepartmentsRes.DepartmentsStrings.Info</legend>
        <div class="editor-field">
            @DepartmentsRes.DepartmentsStrings.Name:
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @DepartmentsRes.DepartmentsStrings.Descr:
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <br />
        <p>
            <input type="submit" value="@DepartmentsRes.DepartmentsStrings.Create" class="yt-uix-button"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@DepartmentsRes.DepartmentsStrings.List, "Index")
</div>
