@model DiagnosticCenter.Models.Department

@{
    ViewBag.Title = DepartmentsRes.DepartmentsStrings.Info;
    ViewBag.Controller = "Departments";
}

<div id="icon-deps-general" class="icon32"><br /></div><h2>@DepartmentsRes.DepartmentsStrings.Info</h2>

<fieldset>
    <legend>@DepartmentsRes.DepartmentsStrings.Dep "@Model.Name" </legend>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink(@DepartmentsRes.DepartmentsStrings.Edit, "Edit", new { id = Model.ID_Dept }) |
    @Html.ActionLink(@DepartmentsRes.DepartmentsStrings.Delete, "Delete", new { id = Model.ID_Dept })
</p>
<p>
    @Html.ActionLink(@DepartmentsRes.DepartmentsStrings.List, "Index")
</p>
