@model DiagnosticCenter.Models.EmployeeVM
<script type="text/javascript">
    $(document).ready(function () {
        $("#pass").click(function () {
            if ($("#cpass").css("display") == "none")
                $("#cpass").css("display", "block");
            else $("#cpass").css("display", "none");
        });
        $("#newPass").change(function () {
            var val = $("#newPass").val();
            if (val.length < 6)
                $("#passOk").attr("disabled", "disabled");
            else
                $("#passOk").attr("disabled", "");
        });
    });
</script>
<div id = "left_content">
<table align="center">
    <tr>
        <th>
            @EmployeesRes.EmployeesStrings.Surname
        </th>
        <th>
           @EmployeesRes.EmployeesStrings.Name
        </th>
        <th>
            @EmployeesRes.EmployeesStrings.Patronymic
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(item => item.surname)
        </td>
         <td>
            @Html.DisplayFor(item => item.firstName)
        </td>
         <td>
            @Html.DisplayFor(item => item.patronymic)
        </td>
    </tr>
    <tr>    
        <td colspan="3">
            <br />
            <b>@EmployeesRes.EmployeesStrings.Department</b>
            @Html.DisplayFor(item => item.department)<br />
             <b>@EmployeesRes.EmployeesStrings.Cabinet</b>
            @Html.DisplayFor(item => item.cabinet)<br />
             <b> @EmployeesRes.EmployeesStrings.Position</b>
            @Html.DisplayFor(item => item.position)<br />
             <b> @EmployeesRes.EmployeesStrings.Category</b>
            @Html.DisplayFor(item => item.category)<br />
            <b> @EmployeesRes.EmployeesStrings.Specialty</b>
            @Html.DisplayFor(item => item.specialty)<br />
            <b> @EmployeesRes.EmployeesStrings.Rate</b>
            @Html.DisplayFor(item => item.rate) @EmployeesRes.EmployeesStrings.HoursPerDay
        </td>
    </tr>
</table>
<br />
</div>
<p>
@Html.ActionLink(ViewRes.SharedStrings.Stat, "StatPage") 
</p>
<p>
@ViewRes.StatisticsStrings.ChString
<input type="button" id="pass" name="pass" value=@ViewRes.StatisticsStrings.ChangePass /> @ViewBag.Error
</p>
@using (Html.BeginForm())
{
<div id="cpass" style="display:none;">
   <table>
   <tr><td align="left">@ViewRes.StatisticsStrings.CurrentPass</td><td >@Html.Password("oldPass")</td></tr>
   <tr><td align="left">@ViewRes.StatisticsStrings.NewPass</td><td><input type="password" id="newPass" name="newPass" />@ViewRes.StatisticsStrings.CountPass</td></tr>
   <tr><td align="left">@ViewRes.StatisticsStrings.RepeatPass</td><td> @Html.Password("confirmPass")</td></tr>
    <tr>
    <td colspan="2">
    <input type="submit" value=@ViewRes.StatisticsStrings.BtnChange  id="passOk" disabled="disabled"/>
    </td>
    </tr>
  </table>
</div>
}