@model DiagnosticCenter.Models.Day

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Day</legend>

    <div class="display-label">Date</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">StartTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartTime)
    </div>

    <div class="display-label">EndTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndTime)
    </div>

    <div class="display-label">StartBreak</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartBreak)
    </div>

    <div class="display-label">EndBreak</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndBreak)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID_Day }) |
    @Html.ActionLink("Back to List", "Index")
</p>
