@model PagedList.IPagedList<DiagnosticCenter.Models.Patient>
@using (Html.BeginForm())
{ 
    <p> 
        @PatientsRes.PatientsStrings.SearchBySurname @Html.TextBox("SearchString") &nbsp; 
        <input type="submit" value="Знайти" /></p> 
}
<table align = "center">
   

 <tr>
        <th>
           @Html.ActionLink("Прізвище", "Index", new { sortOrder = ViewBag.SurameSortParm }) 
        </th>
        <th>
           @Html.ActionLink("Ім'я", "Index", new { sortOrder = ViewBag.FirstNameSortParm }) 
        </th>
        <th>
            По батькові
        </th>
        <th>
            Стать
        </th>
        <th>
             @Html.ActionLink("Дата народження", "Index", new { sortOrder = ViewBag.BirthDateSortParm })
        </th>
        
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.ActionLink("Правити |", "Edit", new { id = item.ID_Patient })  
            @Html.ActionLink("Деталі", "Details", new { id = item.ID_Patient }) 
            @if(!User.IsInRole("MedicalRegistrar")){ @Html.ActionLink("| Видалити", "Delete", new { id = item.ID_Patient })}
            @Html.ActionLink("| Виписати направлення","GetReferral", new { id = item.ID_Patient })
            
            @Html.ActionLink("Обстеження", "Index", "Examinations", new { id = item.ID_Patient }, null)
            
       </td>
    </tr>
}

</table>
<div> 
    Сторінка @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) з @Model.PageCount 
    &nbsp; 
    @if (Model.HasPreviousPage)
    { 
        @Html.ActionLink("<<", "Index", new { page = 1, }) 
        @Html.Raw("&nbsp;"); 
        @Html.ActionLink("< Попередня", "Index", new { page = Model.PageNumber - 1 }) 
    }
    else
    { 
        @:<< 
        @Html.Raw("&nbsp;"); 
        @:< Попередня 
    } 
    &nbsp; 
    @if (Model.HasNextPage)
    { 
        @Html.ActionLink("Наступна >", "Index", new { page = Model.PageNumber + 1 }) 
        @Html.Raw("&nbsp;"); 
        @Html.ActionLink(">>", "Index", new { page = Model.PageCount }) 
    }
    else
    { 
        @:Наступна > 
        @Html.Raw("&nbsp;") 
        @:>> 
    } 
</div>