@model IEnumerable<DiagnosticCenter.Models.Patient>


<table>
    <tr>
        <th>
            Прізвище
        </th>
        <th>
            Ім'я
        </th>
        <th>
            По батькові
        </th>
        <th>
            Професія
        </th>
        <th>
            Стать
        </th>
        <th>
            Дата народження
        </th>
        <th>
            Працевлаштований(-на)
        </th>
        <th>
           Держслужбовець
        </th>
</tr>
@foreach (var item in Model) {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workplace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Civil_Servant)
        </td>
      </tr>  
     <tr>
        <td colspan="4">
            <br />
            <p><b>Місто:</b>&nbsp;@Html.DisplayFor(modelItem => item.City)</p>
            <p><b>Адреса:</b>&nbsp;@Html.DisplayFor(modelItem => item.Address)</p>
            <p><b>E-mail:</b>&nbsp;@Html.DisplayFor(modelItem => item.Email)</p>
            <p><b>Телефон:</b>&nbsp;@Html.DisplayFor(modelItem => item.Phone)</p>
        </td>
       
    <td colspan="4" align = "center">
      @Html.DisplayFor(modelItem => item.Comment)
    </td>
    </tr>
}

</table>
