@model PagedList.IPagedList<DiagnosticCenter.Models.Patient>

<p>
</p>
<table>
    <tr>
        <th>
            ПІБ
        </th>
        <th>
            Спеціальність
        </th>
        <th>
            Адреса
        </th>
        <th>
            Телефон
        </th>
        <th>
            Держслужбовець
        </th>
        <th>
            Працевлаштований
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.Civil_Servant)
        </td>
        <td>
            
            @Html.DisplayFor(modelItem => item.Workplace)
        </td>
        
        <td>
            @Html.ActionLink("Правити", "Edit", new { id=item.ID_Patient }) |
            @Html.ActionLink("Переглянути деталі", "Details", new { id=item.ID_Patient }) |
            @Html.ActionLink("Видалити", "Delete", new { id=item.ID_Patient })
        </td>
    </tr>
}

</table>
 
<div> 
    Сторінка @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) з @Model.PageCount 
    &nbsp; 
    @if (Model.HasPreviousPage) 
    { 
        @Html.ActionLink("<<", "Index", new { page = 1,}) 
        @Html.Raw("&nbsp;"); 
        @Html.ActionLink("< Попередня", "Index", new { page = Model.PageNumber - 1 }) 
    } 
    else 
    { 
        @:<< 
        @Html.Raw("&nbsp;"); 
        @:< Попередня 
    } 
    &nbsp; 
    @if (Model.HasNextPage) 
    { 
        @Html.ActionLink("Наступна >", "Index", new { page = Model.PageNumber + 1}) 
        @Html.Raw("&nbsp;"); 
        @Html.ActionLink(">>", "Index", new { page = Model.PageCount}) 
    } 
    else 
    { 
        @:Наступна > 
        @Html.Raw("&nbsp;") 
        @:>> 
    } 
</div>