@model IEnumerable<DiagnosticCenter.Models.Patient>

@{
    ViewBag.Title = "SearchResult";
}

<h2>Результат пошуку</h2>


<table>
    <tr>
        <th>
            ПІБ
        </th>
        <th>
            Спеціальність
        </th>
        <th>
            Адреса
        </th>
        <th>
            Телефон
        </th>
        <th>
            Держслужбовець
        </th>
        <th>
            Працевлаштований
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.Civil_Servant)
        </td>
        <td>
            
            @Html.DisplayFor(modelItem => item.Workplace)
        </td>
        
        <td>
            @Html.ActionLink("Правити", "Edit", new { id=item.ID_Patient }) |
            @Html.ActionLink("Переглянути деталі", "Details", new { id=item.ID_Patient }) |
            @Html.ActionLink("Видалити", "Delete", new { id=item.ID_Patient })
        </td>
    </tr>
}

</table>
